.chat-list {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 380px;
    height: 100vh;
    border-right: 1px solid $border;
    
    &__search {
        display: flex;
        height: 80px;
        padding: 32px 25px 30px;
        border-bottom: 1px solid $border;
    }

    &__icon {
        width: 19px;
        height: 18px;
        margin-right: 10px;
        cursor: pointer;
    }

    &__input {
        display: inline-block;
        position: relative;
        width: 100%;
        border: none;
        outline: none;
        @include font(poppins-regular);
        font-size: 15px;
        color: $text;
    }

    &__team {
        padding: 24px 13px 24px 24px;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include font(poppins-medium);
        font-size: 15px;
        color: $text;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $background;
        border: none;

        .chat-list__icon {
            width: 12px;
            height: 12px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border;
    }

    &__people {
        padding: 1px 13px 24px 24px;
    }
}

.item {
    position: relative;
    padding: 5px 0 22px 24px;
    margin-bottom: 20px;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &__avatar {
        position: relative;
        width: 52px;
        height: 52px;
        margin-right: 16px;
        border-radius: 15px
    }

    &__default {
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(poppins-medium);
        font-size: 18px;
        
        &-1 {
            background: $default-avatar-1;
            color: $default-name-avatar-1;
        }

        &-2 {
            background: $default-avatar-2;
            color: $default-name-avatar-2;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        @include font(poppins-regular);
        font-size: 15px;
        color: $name;
    }

    &__message {
        margin-top: 4px;
        @include font(poppins-regular);
        font-size: 14px;
        color: $text;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21px;
        height: 21px;
        margin-left: 35px;
        background: $natification-background;
        color: $natification-text;
    }

    &_online::after {
        content: '';
        position: absolute;
        top: 46px;
        left: 65px;
        width: 8px;
        height: 8px;
        background: $online;
        border: 3px solid $background;
        border-radius: 10px;
    }
}