.chat {
    width: calc(100% - 380px);
    height: 100vh;

    @include resolution(small-desktop) {
        width: calc(100% - 312px);
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 30px;
        border-bottom: 1px solid $border;
    }

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        @include font(poppins-regular);
        font-size: 15px;
        color: $name;

        img {
            width: 52px;
        }

        &_online::after {
            content: '';
            position: absolute;
            top: 54px;
            left: 72px;
            width: 8px;
            height: 8px;
            background: $online;
            border: 3px solid $background;
            border-radius: 10px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 66px;
        margin-top: 3px
    }

    &__button {
        background: $background;
        border: none;
    }

    &__icon-plus {
        width: 13px;
        height: 13px;
        cursor: pointer;
    }

    &__icon-more {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    &__container {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: 24px 30px 0;
        height: calc(100vh - 104px - 76px);
    }

    &__content {
        display: flex;
        align-items: flex-end;
    }

    &__response {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__text {
        padding: 10px 26px 18px 20px;
        margin: 0 16px 0 8px;
        @include font(poppins-regular);
        font-size: 15px;
        border-radius: 8px 8px 8px 1px;
        background: $message-background;
        color: $message-text;

        span {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }

    &__date {
        margin: 10px 33px 0 0;
        @include font(poppins-regular);
        font-size: 13px;
        color: $message-data;
    }

    &__file {
        margin: 0 16px 0 8px;
        width: 258px;

        @include resolution(small-desktop) {
            width: 195px;
        }
    }

    &__message {
        display: flex;
        margin-bottom: 22px;

        &-user {
            flex-direction: row-reverse;

            .chat__content {
                flex-direction: row-reverse;
            }

            .chat__response {
                align-items: flex-start;
            }

            .chat__info {
                flex-direction: row-reverse;
            }

            .chat__text {
                margin: 0 8px 0 16px;
                border-radius: 8px 8px 1px 8px;
                background: $message-user-background;
                color: $message-user-text;
            }

            .chat__date {
                margin: 10px 0 0 33px;
            }

            .chat__file {
                margin: 0 8px 0 16px;
            }
        }

        &-new {
            margin-top: 41px;
        }
    }

    &__avatar {
        width: 52px;
    }

    &__emoji {
        margin-left: 2px;
        width: 20px;
    }

    &__attachment {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 64px;
        margin-top: -8px;

        @include resolution(desktop) {
            margin-top: 10px;
        }

        img {
            margin-left: 16px;

            @include resolution(desktop) {
                &:not(:first-child) {
                    display: none;
                }
            }
        }

        &-more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            margin-left: 16px;
            @include font(poppins-medium);
            font-size: 15px;
            background: $attention-background;
            color: $attention-text;
            cursor: pointer;
        }
    }

    &__settings {
        @include resolution(small-desktop) {
            display: flex;
            flex-direction: column;
        }
    }

    &__delete {
        margin-left: 10px;

        @include resolution(small-desktop) {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &__day {
        margin-top: 30px;
    }

    &__write-message {
        width: 100%;
        height: 76px;
        border-top: 1px solid $border;
    }
}

.day {
    display: flex;
    align-items: center;

    &__line {
        width: 100%;
        height: 1px;
        background: $day-line;
    }

    &__text {
        margin: 0 20px;
        @include font(poppins-regular);
        color: $day-text;
    }
}

.file {

    &__info {
        display: flex;
        flex-direction: column;
        background: $attention-background-2;
        border-radius: 8px 8px 0 0 ;
        @include font(poppins-regular);
        font-size: 15px;
    }

    &__name {
        margin: 18px 0 0 20px;
        color: $attention-name;
    }

    &__size {
        margin: 10px 0 18px 20px;
        color: $attention-text
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
        border-radius: 0 0 8px 0 ;
        background: $attention-background-action;
        @include font(poppins-regular);
        font-size: 15px;
        color: $attention-text-action;
    }
}

.write-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px 10px 30px;

    &__form {
        display: flex;
        align-items: center;
        width: 80%;
    }

    &__icon {
        width: 22px;
        height: 22px;
        margin-right: 16px;
        cursor: pointer;
    }

    &__text {
        margin-left: 6px;
        @include font(poppins-regular);
        font-size: 15px;
        color: $text;
        border: none;
        outline: none;
    }

    &__send {
        padding: 15px;
        width: 56px;
        height: 56px;
        background-color: $button-send;
        cursor: pointer;

        @include resolution(small-desktop) {
            width: 46px;
            height: 46px;
        }
    }
}