@import "fonts";
@import "variables";
@import "mixins";
@import "normalize";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

@import "./components/_sidebar";