@import "fonts";
@import "variables";
@import "mixins";
@import "normalize";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

body {
    display: flex;
}

.main {
    display: flex;
    width: calc(100% - 150px);
    height: 100vh;
    background: $background;
}

@import "./components/_sidebar";
@import "./components/_chat-list";
@import "./components/_chat";